* {
    font-family: "Times New Roman";
}

.Opening { 
    font-size: 30px ;
    font-weight: bold;
    text-align: center;
}

.UCI {
    height:auto; 
    width: 700px;
}

.line{
    color: black ;
    font-weight: bold;
}